.container{
    min-width: 30rem;
    min-height: 20rem;
    background-color: #ebedf3;
    padding: 1.3rem;
}

h4{
    margin-bottom: 2rem;
    color: #1289a0;
}

h5{
    display: inline;
    margin-right: 0.5rem;
}

.dropdown{
    min-width: 13rem;
}
