nb-card-body {
    display: flex;
  }
  
  .title {
    text-align: center;
    background-color: #31B4AB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  @media screen and (max-width: 600px){
    h2 {
      font-size: 1.4rem;
    }
    nb-card-body {
      padding: 0;
    }
}