.container {
    width: 40rem;
    background-color: #ebedf3;
    padding: 1.3rem;
}

.title {
    margin-top: 1.8rem;
}

label {
    width: 40rem;
}
.dropdown{
    min-width: 16rem;
}

.btn-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    button {
        width: 6.25rem;
        height: 2.5rem;
        border: 0.06rem solid transparent; 
        border-radius: 0.25rem;
        color: white;
        &.valider{
            background-color: blue;
        }
        &.cancel {
            background-color: red;
        }

        &.disabled {
            background-color: rgb(161, 159, 159);
        }
    }
}



@media screen and (max-width: 600px){
    form {
        width: 20rem;
        height: 15rem;
        background-color: #ebedf3;
    }
    h4{
        font-size: 0.8em;
    }
    h5{
        font-size: 0.8em;
    }
    .btn-class {
        margin-top: 2rem;
        button {
            width: 4rem;
            height: 1.9rem;
            border-radius: 0.15rem;
            font-size: 0.8rem
        }
    }
    .dropdown{
        min-width: 9rem;
    }
}
